<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Project</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Registration</display-name>
		<servlet-name>Registration</servlet-name>
		<servlet-class>Registration</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginServ</display-name>
		<servlet-name>LoginServ</servlet-name>
		<servlet-class>LoginServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>InvalidReg</display-name>
		<servlet-name>InvalidReg</servlet-name>
		<servlet-class>InvalidReg</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServ</display-name>
		<servlet-name>LogoutServ</servlet-name>
		<servlet-class>LogoutServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CategoryServlet</display-name>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>count</display-name>
		<servlet-name>count</servlet-name>
		<servlet-class>count</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UserCount</display-name>
		<servlet-name>UserCount</servlet-name>
		<servlet-class>UserCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Usercount</display-name>
		<servlet-name>Usercount</servlet-name>
		<servlet-class>UserCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CategoryCount</display-name>
		<servlet-name>CategoryCount</servlet-name>
		<servlet-class>CategoryCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductServlet</display-name>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>ProductServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetCategory</display-name>
		<servlet-name>GetCategory</servlet-name>
		<servlet-class>GetCategory</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetProduct</display-name>
		<servlet-name>GetProduct</servlet-name>
		<servlet-class>GetProduct</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Categories</display-name>
		<servlet-name>Categories</servlet-name>
		<servlet-class>Categories</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Products</display-name>
		<servlet-name>Products</servlet-name>
		<servlet-class>Products</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Category</display-name>
		<servlet-name>Category</servlet-name>
		<servlet-class>Category</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductCount</display-name>
		<servlet-name>ProductCount</servlet-name>
		<servlet-class>ProductCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProdCount</display-name>
		<servlet-name>ProdCount</servlet-name>
		<servlet-class>ProdCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductsCount</display-name>
		<servlet-name>ProductsCount</servlet-name>
		<servlet-class>ProductsCount</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CategoryName</display-name>
		<servlet-name>CategoryName</servlet-name>
		<servlet-class>CategoryName</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProductName</display-name>
		<servlet-name>ProductName</servlet-name>
		<servlet-class>ProductName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/Registration</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServ</servlet-name>
		<url-pattern>/LoginServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvalidReg</servlet-name>
		<url-pattern>/InvalidReg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServ</servlet-name>
		<url-pattern>/LogoutServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>count</servlet-name>
		<url-pattern>/count</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserCount</servlet-name>
		<url-pattern>/UserCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Usercount</servlet-name>
		<url-pattern>/Usercount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryCount</servlet-name>
		<url-pattern>/CategoryCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/ProductServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCategory</servlet-name>
		<url-pattern>/GetCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetProduct</servlet-name>
		<url-pattern>/GetProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Categories</servlet-name>
		<url-pattern>/Categories</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Products</servlet-name>
		<url-pattern>/Products</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Category</servlet-name>
		<url-pattern>/Category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductCount</servlet-name>
		<url-pattern>/ProductCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProdCount</servlet-name>
		<url-pattern>/ProdCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductsCount</servlet-name>
		<url-pattern>/ProductsCount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryName</servlet-name>
		<url-pattern>/CategoryName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductName</servlet-name>
		<url-pattern>/ProductName</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
